<view>
  <view class="index-header">
  <view class="head">
    <view class="head-text">
      <span >你好 {{nickName}}</span>
      <span class="small-text">请享受南京大学的美食吧！</span>
    </view>
    
    <image class="head-image" src="{{avatarUrl}}" bindtap="goToMine"></image>
  </view>
  <view >
    <t-search class="search" placeholder="点我寻找美食" bind:change="handleSubmit" bind:clear="handleClear" />
  </view>

</view>

<view class="index-container" style="background-image:url(../../images/bck1.png)">
  <view class="title">校园美食</view>
  <view class="filters">
    <view class="filter {{filterId==1?'active':''}}" data-id="1" bindtap="tapFilter">高分榜单
    </view>
    <view class="filter {{filterId==2?'active':''}}" data-id="2" bindtap="tapFilter">低价优先
    </view>
  </view>
  <view class="dish" wx:for="{{display_dishes}}" wx:key="id">
    <navigator url="/pages/dish/dish?id={{item.id}}" style="width: 100%; height: 100%">
      <view class='dish-container'>
        <view class='dish-img'>
          <image src="{{item.indexImgUrl}}" style="height: 100%" />
        </view>
        <view class='dish-detail'>
          <view class='dish-name'>{{item.name}}</view>
          <view class='dish-data'>
            <view class="lalala">
              <view class='dish-canteen-id'>   位置：{{canteenName[index]}} </view>
              <view class='dish-price'>人均：￥{{item.price}} 元</view>
            </view>
            <view class="score">
                      <image style="width:15px;height:15px;padding-left: 175px;" src="../../images/star.png"></image> 
                      <view class='content'>
                          {{ prices[index]}} 
                      </view>
              </view>
          </view>
        </view>
      </view>
    </navigator>
  </view>
</view>

  <view bind:tap="jumpToSelect">
    <image class="decision" src="../../images/rice.png"></image>
    <text class="eat">吃什么？</text>
  </view>
</view>

