/* pages/classify/classify.wxss */
.bigger{
  --td-tab-item-active-color:cornflowerblue;
  --td-tab-track-color:cornflowerblue;
  --td-tab-track-width:50px;
  --td-tab-track-thickness:2px;
}

.second{
  --td-tab-item-active-color:cornflowerblue;
  --td-tab-track-color:cornflowerblue;
  --td-tab-track-width:50px;
  --td-tab-track-thickness:2px;
}
.xianlin{
  background-color: green;
  width: 100%;
  height: 400px;
}
.gulou{
  background-color: blue;
  width: 100%;
  height: 400px;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  background-color: #f5f5f5;
  width: 90%;
  border-radius: 10rpx;
  overflow: hidden;
}

.item {
  padding: 20rpx;
  border-bottom: 1rpx solid #ddd;
}


.dish {
  display: inline-block;
  height: 200rpx;
  padding: 5px;
  background-color: #fff;
 
  border-radius: 10px;
  margin-left: 10px;
  width: 90%;

  margin-top: 5px;
}

.dish-container {
  font-size: 12px;
  height: 100%;
  width: 100%;
  margin-left: 0;
}

.dish-img {
  float: left;
  width: 200rpx;
  height: 200rpx; /* 设置宽高相等以呈现正方形 */
  background-size: cover;
  border-radius: 10%; /* 使边框形成一个圆角正方形 */
  overflow: hidden; /* 隐藏溢出的边框部分 */
}



.dish-detail {
  height: 100%;
  overflow: hidden;
  padding-left: 30rpx;
  display: flex;
  flex-direction: column;

}


.dish-name {
  color: #313131;
  font-size: 16px;
  margin-bottom: 15rpx;
  line-height: 30px;
  font-weight: bold; /* 将字体加粗 */
  
}


.lalala {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
.dish-price{
  color: #313131;
  font-size: 13px;
  padding-top: 10px;
  font-weight: bold;
}



.dish-score {
  text-align: right;
  margin-top: 5px; /* 调整上下间距 */
  color: black;
  margin-right: 7px;
}

.show {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  opacity: 1; 
  z-index: -100;
  margin-top: 20px;
}


.dish-data {
  color: cornflowerblue;
}

.score{
  display: flex;
  flex-direction: row;
}


.content {
  padding-left: 5px;
    font-size: 12px;
}