<view class="body" style="background-image:url(../../images/bck1.png)">

    <view class="top">
        <button size="mini" class="publish-btn" bindtap="toPublish">发布</button>
    </view>
    

    <view class="container">
          <!-- <picker
                class="picker"
                mode="multiSelector" 
                bindchange="bindMultiPickerChange" 
                bindcolumnchange="bindMultiPickerColumnChange" 
                value="{{multiIndex}}" 
                range="{{multiArray}}">
                <view class="picker-item">
                    <view class="select" wx:if="{{ select }}">
                        <text  class="select-text">{{multiArray[0][multiIndex[0]]}}.{{multiArray[1][multiIndex[1]]}} / 5.0 </text>
                        <image class="select-icon" src="../../images/close.png" catchtap="closeSelect"></image>
                    </view>
    
                    <view class="empty" wx:else>
                        <text class="score">点击选择分数</text>

                    </view>
                </view>    
            </picker> -->
      
      <text class="score">请选择您的评分：</text>
      <view class='stars'>
      
        <image class="star" bindtap="one"
            src="{{ star[0] }}"></image>
        <image class="star" bindtap="two"
            src="{{ star[1] }}"></image>
        <image class="star" bindtap="three"
            src="{{ star[2] }}"></image>
        <image class="star" bindtap="four"
            src="{{ star[3] }}"></image>
        <image class="star" bindtap="five"
            src="{{ star[4] }}"></image>
      </view>

      <text class="commentReq">请输入你的具体评价：</text>
        <view class="desc">
            <textarea class="desc-text" placeholder="请写下你的评价"
            value="{{ desc }}" bindinput="getDesc" 
             id="" cols="25"
            rows="10"></textarea>
          
        </view>
      
    </view>
</view>