.unlogin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40%;
  background-color: #fff;
}

.unlogin .unlogin-image {
  width: 150rpx;
  height: 150rpx;
}

.unlogin .unlogin-btn{
  margin-top: 50rpx;
  width: 80%;
  background-color:black;
  color: aliceblue;
}

.info{
  background-color: rgba(0, 0, 0, 0.801);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90rpx 0;
}

.info .avatarUrl{
  width: 200rpx;
  height: 200rpx;
  border-radius: 50%;
}

.info .nickName{
  color: #fff;
  margin-top: 30rpx;
}
/*TODO12.18个性签名
.info .sign{
  color: #fff;
  margin-top: 30rpx;
}*/

.cell-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.cell{
  display: flex;
  justify-content: space-between;
  width: 85%;
  background-color: #eaeff1d7;
  padding: 30rpx 20rpx;
  border-radius: 20rpx;
  margin-bottom: 20rpx;
}

.cell-left{
  display: flex;
  align-items: center;
}

.cell-right{
  display: flex;
  align-items: center;
}

.cell-left .myinfo-img{
  width: 60rpx;
  height: 60rpx;
}

.cell-left .myinfo-text{
  margin-left: 20rpx;
}

.cell-right .go{
  width: 40rpx;
  height: 40rpx;
}

.sign{
  color: white;
  font-size: 12px;
  margin-top: 15px;
  opacity: 0.5;
}

.info {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  opacity: 1; 
  z-index: -100;
  margin-top: 20px;
}